<h3>You are currently working with:</h3>
<br><br>

<ol>
<% @clients.each do |client| %>
  <li>
    <p>
      <a href="/clients/<%= client.id %>"><%= client.full_name %></a>
      - <%= client.age %> years old. Notes: <%= client.notes %>
    </p>
  </li>
  <a href="/clients/<%= client.id %>/edit">Edit</a>
  <br><br>
<% end %>
</ol>

<h3><a href="/clients/new">Add a new client</a></h3>
