<h3>Name: <%= @client.full_name %></h3>
<p>Age: <%= @client.age %></p>
<p>Notes: <%= @client.notes %></p>

<h4>Course(s): </h4>

<ul>
  <% @client.courses.each do |course| %>
  <li><a href="/courses/<%= course.id %>"><%= course.name %></a></li>
  <% end %>
</ul>
<br><br>

<a href="/clients">Back to the list</a>
<br><br>

<a href="/clients/<%=@client.id%>/edit">Edit</a>
<br><br>

<form action="/clients/<%= @client.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Client">
</form>
