<% if @course && @course.errors %>
  <% @course.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<h3>Edit <%= @course.name %></h3>

<p>Date: <%= @course.date %></p>
<p>Number of hours: <%= @course.num_of_hours %></p>
<p>Status: <%= @course.status %></p>

<form action="/courses/<%= @course.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="patch">

  <label>New Name: </label>
  <input type="text" name="name" value="<%= @course.name %>">
  <br><br>
  <label>New Date: </label>
  <input type="date" name="date" value="<%= @course.date %>">
  <br><br>
  <label>New Number of Hours: </label>
  <input type="number" name="num_of_hours" value="<%= @course.num_of_hours %>">
  <br><br>
  <label>New Status: </label>
  <input type="text" name="status" value="<%= @course.status %>">
  <br><br>

  <h4>Change Client Name</h4>
  <ul>
    <% @course.clients.each do |client| %>
    <li><a href="/clients/<%= client.id %>"><%= client.full_name %></a></li>
    <% end %>
  </ul>
  <br><br>

  <label for="client[full_name]">Client Name:</label>
  <input type="text" name="client[full_name]" id="new_client">
  <br><br>

  <a href="/courses">Back to the list</a>
  <br><br>

  <input type="submit" value="Update Course">
</form>
