<% if @course && @course.errors %>
  <% @course.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<h3>Add a new course</h3>

<form method="POST" action="/courses">
  <label>Course Name: </label>
  <input type="text" name="name" value="<%= @course.name if @course %>">
  <br><br>
  <label>Course Date: </label>
  <input type="date" name="date" value="<%= @course.date if @course %>">
  <br><br>
  <label>Number of Hours: </label>
  <input type="number" name="num_of_hours" value="<%= @course.num_of_hours if @course %>">
  <br><br>
  <label>Status: </label>
  <input type="text" name="status" value="<%= @course.status if @course %>">
  <br><br>

  <h4>Client</h4>
  <label>Client Name:</label>
  <input type="text" name="new_client" id="client[full_name]"><br>
  <label>Client Age:</label>
  <input type="text" name="new_client" id="client[age]"><br>
  <label>Client Notes:</label>
  <input type="text" name="new_client" id="client[notes]">
  <br><br>

  <a href="/courses">Back to the list</a>
  <br><br>

  <input type="submit" value="Add New Course">
</form>
