<h3><%= @course.name %></h3>
<p>Date: <%= @course.date %></p>
<p>Hours: <%= @course.num_of_hours %></p>
<p>Status: <%= @course.status %></p>

<h4>Client(s): </h4>

<ul>
  <% @course.clients.each do |client| %>
  <li><a href="/clients/<%= client.id %>"><%= client.full_name %></a></li>
  <% end %>
</ul>
<br><br>

<a href="/courses">Back to the list</a>
<br><br>

<a href="/courses/<%=@course.id%>/edit">Edit</a>
<br><br>

<form action="/courses/<%= @course.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Course">
</form>
